.dots {
    display: flex;

    padding-top: 16px;
}


.dot {
    cursor: pointer;
    width: .5vw;
    height: .5vw;
    margin: 0.2vw;
    border-radius: 50%;
    background-color: aliceblue;
}

.dot input[type=radio] {
    display: none;
}

.dot_active {
    border-radius: 50%;
    background-color: rgba(0, 172, 253, 1);
    box-shadow: 0px 0px 0px 3px rgb(0 88 129)
}

input:checked {
    border: 6px solid black;
}