.dots {
    display: flex;

    padding-top: 16px;
}


.dot {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    background-color: aliceblue;
}

.dot_active {
    background-color: rgba(0, 172, 253, 1);
    box-shadow: 0px 0px 0px 3px rgb(0 88 129)
}