@import url("../fonts/fonts.css");
@import url("./dots.css");

body {
  margin: 0;
  width: 100%;
  max-width: 2000px;
  overflow-x: hidden;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}


input:focus {
  outline: none;
}

.title {
  font-family: "Gill";

  font-size: 44px;

}

.descr {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  line-height: 25px;
}

/* HEADER */

.header {
  display: flex;

  padding-bottom: 500px;

  /* width: 99%; */
  /* height: 962px; */
  background: url('../images/shape.svg') no-repeat;
  background-size: contain;
}

.header__logo {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 52px;
  margin-left: auto;

}

.header__logo-image {
  width: 164px;
  margin: auto;

  padding-bottom: 86px;
}

.header__background {
  position: absolute;
  z-index: -1;
  top: 0;

}

.header__title {
  color: white;
  font-family: "Gill";
  font-size: 79px;

  padding-bottom: 92px;
}

.header__subtitle {
  color: white;
  font-family: "Gill";

  font-size: 31px;
}

.header__options {
  cursor: pointer;
  padding-top: 73px;
  margin-left: auto;
  color: white;
  margin-right: auto;
  display: flex;
}

.header__option {
  cursor: pointer;
  padding: 8px;
  font-family: "Gill";
  font-size: 20px;
  height: fit-content;
  transition: border 300ms;
}

.header__option:hover {
  border-bottom: 2px solid white;
}

.number {
  font-family: "Gill";

  font-size: 20;
}

.cloud {
  box-shadow: 2px 1px 6px black;
  color: black;
  margin-left: 46px;
  padding-left: 12px;
  background-color: white;
  justify-self: center;
  height: 44px;
  width: 153px;
  position: relative;
  display: flex;
  align-items: center;

  border-radius: 120px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 160px;
}


/*  COMPANY */
.company {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 100%;
}



.company__title {
  font-family: "Gill";
  font-size: 46px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.company__underline {
  padding-bottom: 92px;

  margin: auto;
  background-size: cover;

  background-image: url("../images/Underline.svg");
}

.company__about {
  padding-top: 92px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 456px);

  row-gap: 92px;
  column-gap: 92px;

  padding-bottom: 92px;
}

.company__item {
  display: grid;

  align-items: flex-start;

  width: 456px;
  grid-template-areas:
    "logo title"
    "logo subtitle"
    "logo subtitle";

}

.company__item-icon {
  grid-area: logo;
  padding-right: 42px;

  padding-top: 22px;
}

.company__item-title {
  grid-area: title;
  font-family: 'Gill';
  font-weight: bold;
  padding-bottom: 38px;
}

.company__item-subtitle {
  grid-area: subtitle;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  line-height: 25px;
}


/* DRIVER */

.driver {
  display: flex;
  flex-direction: column;
  margin: auto;

  max-width: 1000px;
}

.driver__line {
  padding-bottom: 62px;
}

.driver__statistic {
  display: flex;
  margin: auto;
  flex: 1;
  gap: 48px;

  padding-bottom: 200px;
}

.driver__statistic-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 48px;
  /* border-right: 2px solid rgba(2, 60, 204, 1); */
}

.driver__statistic-item:not(:last-child)::after {
  content: '';
  position: absolute;
  padding-left: 48px;
  right: 0%;
  bottom: 20%;
  height: 48px;
  width: 2px;
  border-right: 2px solid rgba(2, 60, 204, 1);
}

.driver__statistic-item-icon {
  padding-bottom: 32px;
  width: 48px;
}


.driver__statistic-item-count {
  font-family: 'Gill';
  font-size: 31px;
  color: rgba(2, 60, 204, 1);
  padding-bottom: 8px;
}

.driver__statistic-item-desc {
  font-family: 'Gill';
  color: rgba(2, 60, 204, 1);

  white-space: nowrap;
}



/* managers */

.managers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  margin: auto;
  padding-bottom: 92px;
}

.managers__title {
  margin: auto;
  font-family: 'Gill';
  font-size: 46px;
  padding-bottom: 8px;
}

.managers__slider-container {
  margin: auto;
  display: flex;
  background-color: rgb(58, 79, 112);
  border-radius: 5%;
  max-width: 100%;

  align-items: center;
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-x: hidden;
  /* margin-left: 12px; */
  /* margin-right: 12px; */
}

.slider-item {
  transition: transform 700ms;
  display: flex;
  /* justify-content: center; */
}

.slider-item__image {
  width: 332px;
  object-fit: cover;
  justify-self: center;

  /* box-shadow: 17px 16px 20px 6px white; */

}

.slider-arrow_left {
  position: relative;
  cursor: pointer;
  width: 0;
  height: 0;
  width: 88px;
  height: 96px;
  padding-left: 12px;
}

.slider-arrow_right {
  position: relative;
  cursor: pointer;
  width: 0;
  height: 0;
  width: 88px;
  height: 96px;
  padding-right: 12px;
}


/* credit-calc */

.credit-calc {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(23, 117, 251, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  position: relative;
  padding: 74px;
  margin-bottom: 92px;
}

.credit-calc__title {
  font-family: 'Gill';
  font-size: 46px;
  color: white;
  padding-bottom: 75px;
}

.credit-calc__calculate {
  cursor: pointer;
  font-family: 'Gill';
  font-size: 26px;
  color: white;
  padding-bottom: 75px;
  width: 500px;
  background: rgb(109, 123, 255);
  background: linear-gradient(90deg, rgba(109, 123, 255, 1) 24%, rgba(72, 232, 250, 1) 96%, rgba(108, 220, 232, 1) 100%, rgba(11, 39, 141, 1) 100%);
  border: none;
  border-radius: 30px;
  padding: 12px;
}



/* sertificate */

.sertificates {
  display: grid;

  grid-template-columns: repeat(2, 300px);

  row-gap: 65px;
  column-gap: 65px;
}



.sertificate {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 11px 16px rgb(199, 199, 199);
  width: 300px;
  padding: 8px 4px;
  transition: transform 300ms;
}

.sertificate:hover {
  transform: scale(1.2);
}

.dark {
  background-color: rgba(66, 82, 110, 1);
}

.text-white {
  color: white;
}

.padding-top {
  position: relative;
  top: 20%;
}

.text-lightsteelblue {
  color: rgb(186, 194, 219) !important;
}

.sertificate__image {
  width: 300px;
  padding-bottom: 22px;
}

.sertificate__title {
  font-family: 'Gill';
  font-size: 20px;
  padding-left: 25px;
  padding-bottom: 42px;
}

.sertificate__bank {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 25px;
  color: gray;
  padding-bottom: 16px;
}


/* awards */

.awards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  column-gap: 100px;
  row-gap: 240px;
  align-items: center;

  margin: auto;
  justify-items: center;
  width: 90%;
}

/* details__title */

.details {
  justify-self: left;
}

.details__title {
  max-width: 450px;
  padding-bottom: 98px;
}

.details__descr {
  width: 342px;
}

.width559 {
  width: 530px;
}

.top-spacer {
  padding-top: 65px;
}

.bank-arrow-left {
  border: 0;
  width: 128px;
  height: 128px;
  padding: 0;

}

.bank-arrow-right {
  border: 0;
  width: 128px;
  height: 128px;
  padding: 0;

}

.bank__slider-contaner {
  max-width: 736px;
  padding-top: 150px;
  padding-bottom: 100px;
}

.bank-slider {
  /* justify-content: center; */
  margin: 0;
}

.services {
  /* background-color: midnightblue; */
  background: url('../images/office.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  padding: 80px;
}


.comments {
  display: grid;
  padding-top: 82px;
  grid-template-columns: repeat(3, 361px);
  column-gap: 36px;
}

.comment {
  display: flex;
  flex-direction: column;
  /* padding: 52px; */
  padding-bottom: 0;
  background-color: white;
  border-radius: 16px;
  align-items: center;
  width: 361px;
  height: 324px;
  margin: 16px;

  padding-top: 52px;
}

.comment__title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4dedff;
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 16px;
}

.comment__about {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(46, 46, 46);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 36px;
  padding-left: 42px;
  padding-right: 42px;
}


.quote {
  width: 39px;
  padding-bottom: 8px;
}


/* contact */


.contact {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 2500px;
  align-items: center;
  background-size: cover;
  /* background-image: url('../images/map.png'); */
  background: url('../images/map.png') no-repeat center center
}

.contact__title {
  /* padding-bottom: 113px; */
  position: relative;
  top: 63px;
}

.contact__bg {
  /* position: absolute; */
  top: -71px;
  /* margin-left: auto; */
  justify-self: right;
  z-index: -1;
  /* background-size: cover; */
  /* background-image: url('../images/map.png'); */
  /* width: 100%; */
  height: inherit;
}

.form-container {
  /* position: absolute; */
  /* padding-top: 83px; */
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10%;
  /* box-shazdow: 20px -1px 20px 16px white; */
  box-shadow: 17px 16px 20px 6px white;
  width: 26%;
}

.flex {
  display: flex;
  padding-top: 113px;
}

.form__input-container {
  display: flex;
  width: 97%;
  border-bottom: 1px solid black;
  margin-right: 16px;
  margin-bottom: 112px;
}

.input__title {
  font-family: 'Gill';
  font-weight: 900;
  height: fit-content;
  align-self: center;

  white-space: nowrap;
}

.form__input {
  border: none;
  width: 72%;
  font-family: 'Gill';
  font-size: 18px;
  padding-left: 16px;
}

.form__submit {
  width: 200px;
  font-size: 18px;
  /* padding-left: 16px;
  padding-right: 16px; */
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.contact__items {
  display: flex;
  padding-top: 64px;
  justify-content: space-between;
  padding-bottom: 32px;
  width: 90%;
}

.contact__item {
  display: flex;

  align-items: flex-start;
}

.item__icon {
  width: 24px;
}

.contact__info {
  padding-left: 16px;

  max-width: 200px;
}

.info__title {
  font-family: 'Gill';

  font-size: 16px;
  line-height: 24px;

  color: dodgerblue;
}

.info__sub {
  font-family: 'Gill';
  color: rgb(46, 46, 46);
  font-size: 14px;
  line-height: 24px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.footer {
  background-color: #26303C;
}


.footer__content {
  padding-left: 10%;
  width: 235px;
}

.footer__logo {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__adress {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  line-height: 24px;
}

.footer__icon-text {
  padding-top: 36px;
  padding-bottom: 68px;
}

.footer__credits {
  width: 100%;
  border-top: 2px solid #474d54;

  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__icon {
  width: 14px;
  padding-right: 4px;
}

.credits {
  margin-left: 10%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  color: white;
}

.lightblue {
  color: #4dedff;
}

.copyright {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  margin-right: 24px;
  color: #474d54;
}


.underline {
  padding-top: 16px;
  width: 68px;
  height: 20px;
  align-self: center;
}

@media screen and (max-width:1024px) {
  .sertificates {
    grid-template-columns: repeat(1, 300px);

  }

  .awards {
    grid-template-columns: repeat(1, auto);
  }



}

@media screen and (min-width:2224px) {
  .header {
    background-size: cover;
  }


  .header__title {
    font-size: 92px;
  }

  .header__subtitle {
    font-size: 51px;
  }


  .header__option {
    font-size: 35px;
  }


  .company__item-icon {
    grid-area: logo;
    padding-right: 42px;

    padding-top: 22px;
  }

  .company__item-title {
    font-size: 35px;
  }

  .company__item-subtitle {
    font-size: 24px;

  }
}


@media screen and (max-width:986px) {
  .header {
    background-size: cover;

    height: 40px;
  }


  .header__title {
    font-size: 24px;

    padding-bottom: 48px;
  }

  .header__subtitle {
    font-size: 14px;
  }

  .header__options {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 8px;
  }

  .number {
    font-family: "Gill";

    font-size: 14px;
  }

  .cloud {
    height: 34px;
    width: 123px;
  }

  .header__option {
    font-size: 14px;
  }

  .company__title {
    font-size: 16px;

    padding-left: 12px;
  }

  .underline {
    padding-top: 8px;
    width: 34px;
    height: 20px;
  }

  .comment {
    width: 300px;
  }

  .comment__title {
    font-size: 14px;
  }

  .comment__about {
    font-size: 14;
    line-height: 16px;
  }

  .company__item {
    width: 256px;
  }

  .slider-arrow_left {
    width: 24px;
  }

  .slider-arrow_right {
    width: 24px;
  }

  .slider-item__image {
    width: 174px;
  }

  .company__item-icon {
    grid-area: logo;
    padding-right: 14px;
    width: 24px;
    padding-top: 12px;
  }

  .company__item-title {
    font-size: 18px;
    padding-bottom: 16px;
  }

  .company__item-subtitle {
    font-size: 14px;
  }

  .company__about {
    grid-template-columns: repeat(1, auto);
  }

  .driver__statistic-item-count {
    font-size: 14px;
  }

  .driver__statistic-item-icon {
    width: 24px;
  }

  .driver__statistic-item-desc {
    font-size: 14px;
  }

  .driver__statistic {
    flex-direction: column;
  }

  .managers__slider-container {
    max-width: 78%;
  }

  .comments {
    grid-template-columns: repeat(1, 361px);
  }


  .contact {
    background: none;
  }

  .form-container{
    margin-left: 0;
  }

  .flex {
    flex-direction: column;
  }

  .contact__items {
    flex-direction: column;
    padding-left: 24px;
  }

  .contact__item {
    padding-bottom: 16px;
  }

  .awards {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(1, auto); */
    justify-content: center;
    row-gap: 140px;
    align-items: center;
  
    margin: auto;
    justify-items: center;
    width: 100%;
  }

  .width559 {
    width: 270px;
  }

  .managers__title{
    font-size: 24px;
  }
}