@import url("../fonts/fonts.css");

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Gill";

  font-size: 44px;

}

.descr {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  line-height: 25px;
}

/* HEADER */

.header {
  display: flex;

  padding-bottom: 500px;
}

.header__logo {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 52px;
  margin-left: auto;

}

.header__logo-image {
  width: 164px;
  margin: auto;

  padding-bottom: 86px;
}

.header__background {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.header__title {
  color: white;
  font-family: "Gill";
  font-size: 79px;

  padding-bottom: 92px;
}

.header__subtitle {
  color: white;
  font-family: "Gill";

  font-size: 31px;
}

.header__options {
  cursor: pointer;
  padding-top: 73px;
  margin-left: auto;
  color: white;
  margin-right: auto;
  display: flex;
}

.header__option {
  padding: 8px;
  font-family: "Gill";

  font-size: 20px;
}

.number {
  font-family: "Gill";

  font-size: 20;
}

.cloud {
  box-shadow: 2px 1px 6px black;
  color: black;
  margin-left: 46px;
  padding-left: 12px;
  background-color: white;
  justify-self: center;
  height: 44px;
  width: 153px;
  position: relative;
  display: flex;
  align-items: center;

  border-radius: 120px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 160px;
}


/*  COMPANY */
.company {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}



.company__title {
  font-family: "Gill";
  font-size: 46px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 92px;
}

.company__underline {
  padding-bottom: 92px;

  margin: auto;
  background-size: cover;

  background-image: url("../images/Underline.svg");
}

.company__about {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, auto);

  row-gap: 92px;
  column-gap: 92px;

  padding-bottom: 92px;
}

.company__item {
  display: grid;

  align-items: flex-start;

  width: 456px;
  grid-template-areas:
    "logo title"
    "logo subtitle"
    "logo subtitle";

}

.company__item-icon {
  grid-area: logo;
  padding-right: 42px;

  padding-top: 22px;
}

.company__item-title {
  grid-area: title;
  font-family: 'Gill';
  font-weight: bold;
  padding-bottom: 38px;
}

.company__item-subtitle {
  grid-area: subtitle;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  line-height: 25px;
}


/* DRIVER */

.driver {
  display: flex;
  flex-direction: column;
  margin: auto;

  max-width: 1000px;
}

.driver__line {
  padding-bottom: 62px;
}

.driver__statistic {
  display: flex;
  margin: auto;
  flex: 1;
  gap: 48px;

  padding-bottom: 200px;
}

.driver__statistic-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 48px;
  /* border-right: 2px solid rgba(2, 60, 204, 1); */
}

.driver__statistic-item:not(:last-child)::after {
  content: '';
  position: absolute;
  padding-left: 48px;
  right: 0%;
  bottom: 20%;
  height: 48px;
  width: 2px;
  border-right: 2px solid rgba(2, 60, 204, 1);
}

.driver__statistic-item-icon {
  padding-bottom: 32px;
}

.driver__statistic-item-count {
  font-family: 'Gill';
  font-size: 31px;
  color: rgba(2, 60, 204, 1);
  padding-bottom: 8px;
}

.driver__statistic-item-desc {
  font-family: 'Gill';
  color: rgba(2, 60, 204, 1);

  white-space: nowrap;
}



/* managers */

.managers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  margin: auto;
  padding-bottom: 92px;
}

.managers__title {
  margin: auto;
  font-family: 'Gill';
  font-size: 46px;
  padding-bottom: 8px;
}

.managers__slider-container {
  margin: auto;
  display: flex;
  background-color: rgb(58, 79, 112);
  border-radius: 5%;
  max-width: 100%;

  align-items: center;
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-x: hidden;
  margin-left: 12px;
  margin-right: 12px;
}

.slider-item {
  transition: transform 700ms;
  display: flex;
  /* justify-content: center; */
}

.slider-item__image {
  width: 350px;
  object-fit: cover;
  justify-self: center;
}

.slider-arrow_left {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-right: 50px solid rgb(62, 132, 201);
  border-bottom: 35px solid transparent;
  border-radius: 15px;
  padding-left: 12px;
}

.slider-arrow_right {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-left: 50px solid rgb(62, 132, 201);
  border-bottom: 35px solid transparent;
  border-radius: 15px;
  padding-right: 12px;
}


/* credit-calc */

.credit-calc {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(23, 117, 251, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 74px;
  margin-bottom: 92px;
}

.credit-calc__title {
  font-family: 'Gill';
  font-size: 46px;
  color: white;
  padding-bottom: 75px;
}

.credit-calc__calculate {
  cursor: pointer;
  font-family: 'Gill';
  font-size: 26px;
  color: white;
  padding-bottom: 75px;
  width: 500px;
  background: rgb(109, 123, 255);
  background: linear-gradient(90deg, rgba(109, 123, 255, 1) 24%, rgba(72, 232, 250, 1) 96%, rgba(108, 220, 232, 1) 100%, rgba(11, 39, 141, 1) 100%);
  border: none;
  border-radius: 30px;
  padding: 12px;
}



/* sertificate */

.sertificates {
  display: grid;

  grid-template-columns: repeat(2, 300px);

  row-gap: 65px;
  column-gap: 65px;
}

.sertificate {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 11px 16px rgb(199, 199, 199);
  width: 300px;
  padding: 8px;
}

.dark {
  background-color: rgba(66, 82, 110, 1);
}

.text-white {
  color: white;
}

.padding-top {
  position: relative;
  top: 20%;
}

.text-lightsteelblue {
  color: rgb(186, 194, 219) !important;
}

.sertificate__image {
  width: 300px;
  padding-bottom: 22px;
}

.sertificate__title {
  font-family: 'Gill';
  font-size: 20px;
  padding-left: 25px;
  padding-bottom: 42px;
}

.sertificate__bank {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 25px;
  color: gray;
  padding-bottom: 16px;
}


/* awards */

.awards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  column-gap: 100px;
  row-gap: 240px;
  align-items: center;

  margin: auto;
  justify-items: center;
  width: 90%;
}

/* details__title */


.details__title {
  max-width: 450px;
  padding-bottom: 98px;
}

.details__descr {
  width: 342px;
}

.width559 {
  width: 559px;
}

.top-spacer {
  padding-top: 65px;
}

.bank-arrow-left {
  border: 0;
  width: 200px;
  height: 100px;
  background-size: cover;

  background-image: url("../images/arrow_lleft.svg");
}

.bank-arrow-right {
  border: 0;
  background-size: cover;
  width: 200px;
  height: 100px;
  background-image: url("../images/arrow_right.svg");
}

.bank-slider {
  /* justify-content: center; */
}